<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	version="2.5"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" >
	<display-name>Session Demo</display-name>
	<distributable /> 
	<servlet>
		<servlet-name>setSession</servlet-name>
		<servlet-class>sessionDemo.SetSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getSession</servlet-name>
		<servlet-class>sessionDemo.GetSessionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>setSession</servlet-name>
		<url-pattern>/setSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getSession</servlet-name>
		<url-pattern>/getSession</url-pattern>
	</servlet-mapping>
</web-app>